<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editprofile</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <table border="1">
            <tr>
                <td>Name</td>
                <td><input type="text" name="txt_name" id="txt_name" value="{{teacher.teacher_name}}"></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="text" name="txt_email" id="txt_email" value="{{teacher.teacher_email}}"></td>
            </tr>
            <tr>
                <td>Contact</td>
                <td><input type="text" name="txt_contact" id="txt_contact" value="{{teacher.teacher_contact}}"></td>
            </tr>
            <tr>
                
                <td colspan="2" align="center"><input type="submit" value="Update"></td>
            </tr>
        </table>
    </form>
</body>
</html>
{% if msg %}
<script>
    alert("{{msg}}")
    window.location = "{% url 'Teacher:Myprofile' %}"
</script>
{% endif %}