<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    Welcome...
    <br>
    <br>
    <a href="{% url 'Teacher:Myprofile' %}"> MyProfile</a>
    <br>
    <br>
    <a href="{% url 'Teacher:Addstudent' %}"> Add Students</a>
    <br>
    <br>
    <a href="{% url 'Teacher:Assignment' %}"> Manage Assignments</a>
    <br>
    <br>
    <a href="{% url 'Teacher:Viewstudents' %}">View Students</a>
    <br>
    <br>
    <a href="{% url 'Teacher:ViewTimeTable' %}"> View  Time table</a>
    <br>
    <br>
    <a href="{% url 'Teacher:viewleave' %}">View Students Leave</a>
    <br>
    <br>
    <a href="{% url 'Teacher:viewdutyleave' %}">View Students Duty Leave</a>
     <br>
    <br>
    <a href="{% url 'Teacher:myassignedsubject' %}">My Assigned Subjects</a>
</body>
</html>