{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>Education Meeting HTML5 Template</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'Main/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'Main/assets/css/fontawesome.css' %}">`
    <link rel="stylesheet" href="{% static 'Main/assets/css/templatemo-edu-meeting.css' %}">
    <link rel="stylesheet" href="{% static 'Main/assets/css/owl.css' %}">
    <link rel="stylesheet" href="{% static 'Main/assets/css/lightbox.css' %}">
    <!--

TemplateMo 569 Edu Meeting

https://templatemo.com/tm-569-edu-meeting

-->
</head>

<body>

    <!-- Sub Header -->


    <!-- ***** Header Area Start ***** -->
     <header class="header-area header-sticky bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-12">

          <nav class="main-nav">

            <!-- Logo -->
            <a href="#" onclick="window.location.href='{% url 'Student:Homepage' %}'" class="logo">
              <i class="fa fa-graduation-cap"></i> Edu Meeting
            </a>

            <!-- Menu -->
            <ul class="nav">

              <li>
                <a href="#" onclick="window.location.href='{% url 'Student:Homepage' %}'" class="active">
                  <i class="fa fa-home"></i> Home
                </a>
              </li>

              <li>
                <a href="#" onclick="window.location.href='{% url 'Student:Myprofile' %}'">
                  <i class="fa fa-user"></i> My Profile
                </a>
              </li>


              <!-- Notes Dropdown -->
              <li class="has-sub">
                <a href="javascript:void(0)">
                  <i class="fa fa-book"></i> Notes
                </a>

                <ul class="sub-menu">

                  <li>
                    <a href="#" onclick="window.location.href='{% url 'Student:Viewnotes' %}'">
                      <i class="fa fa-file"></i> View Notes
                    </a>
                  </li>

                  <li>
                    <a href="#" onclick="window.location.href='{% url 'Student:Viewassignment' %}'">
                      <i class="fa fa-tasks"></i> View Assignment
                    </a>
                  </li>

                  <li>
                    <a href="#" onclick="window.location.href='{% url 'Student:Myassignments' %}'">
                      <i class="fa fa-tasks"></i> My Assignments
                    </a>
                  </li>

                  <li>
                    <a href="#" onclick="window.location.href='{% url 'Student:ViewTimeTable' %}'">
                      <i class="fa fa-calendar"></i> View Time Table
                    </a>
                  </li>

                </ul>
              </li>


              <!-- Attendance Dropdown -->
              <li class="has-sub">
                <a href="javascript:void(0)">
                  <i class="fa fa-clipboard-check"></i> Attendance
                </a>

                <ul class="sub-menu">

                  <li>
                    <a href="#" onclick="window.location.href='{% url 'Student:viewattendance' %}'">
                      <i class="fa fa-chart-bar"></i> View Attendance
                    </a>
                  </li>

                  <li>
                    <a href="#" onclick="window.location.href='{% url 'Student:leaveapplication' %}'">
                      <i class="fa fa-envelope"></i> Leave Application
                    </a>
                  </li>

                  <li>
                    <a href="#" onclick="window.location.href='{% url 'Student:dutyleave' %}'">
                      <i class="fa fa-file-signature"></i> Duty Leave
                    </a>
                  </li>

                </ul>
              </li>


              <li>
                <a href="#about">
                  <i class="fa fa-info-circle"></i> About Us
                </a>
              </li>


              <li>
                <a href="#" onclick="window.location.href='{% url 'Student:Complaint' %}'">
                  <i class="fa fa-comment-dots"></i> Complaints
                </a>
              </li>
              <li>
                <a href="#" onclick="window.location.href='{% url 'Student:logout' %}'">
                  <i class="fa fa-sign-out-alt"></i> Logout
                </a>
              </li>

            </ul>

            <a class="menu-trigger">
              <span>Menu</span>
            </a>

          </nav>

        </div>
      </div>
    </div>
  </header>
    <!-- ***** Header Area End ***** -->

    <div style="padding-top: 200px;padding-bottom: 50px;" align="center">
        {% block content %}{% endblock %}
    </div>




    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'Main/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'Main/vendor/bootstrap/js/bootstrap.min.js' %}"></script>

    <script src="{% static 'Main/assets/js/isotope.min.js' %}"></script>
    <script src="{% static 'Main/assets/js/owl-carousel.js' %}"></script>
    <script src="{% static 'Main/assets/js/lightbox.js' %}"></script>
    <script src="{% static 'Main/assets/js/tabs.js' %}"></script>
    <script src="{% static 'Main/assets/js/video.js' %}"></script>
    <script src="{% static 'Main/assets/js/slick-slider.js' %}"></script>
    <script src="{% static 'Main/assets/js/custom.js' %}"></script>
    <script>
        //according to loftblog tut
        $('.nav li:first').addClass('active');

        var showSection = function showSection(section, isAnimate) {
            var
                direction = section.replace(/#/, ''),
                reqSection = $('.section').filter('[data-section="' + direction + '"]'),
                reqSectionPos = reqSection.offset().top - 0;

            if (isAnimate) {
                $('body, html').animate({
                    scrollTop: reqSectionPos
                },
                    800);
            } else {
                $('body, html').scrollTop(reqSectionPos);
            }

        };

        var checkSection = function checkSection() {
            $('.section').each(function () {
                var
                    $this = $(this),
                    topEdge = $this.offset().top - 80,
                    bottomEdge = topEdge + $this.height(),
                    wScroll = $(window).scrollTop();
                if (topEdge < wScroll && bottomEdge > wScroll) {
                    var
                        currentId = $this.data('section'),
                        reqLink = $('a').filter('[href*=\\#' + currentId + ']');
                    reqLink.closest('li').addClass('active').
                        siblings().removeClass('active');
                }
            });
        };

        $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
            e.preventDefault();
            showSection($(this).attr('href'), true);
        });

        $(window).scroll(function () {
            checkSection();
        });
    </script>
</body>

</body>

</html>