<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
  Welcome Student...  
    <br>
    <br>
    <a href="{% url 'Student:Myprofile' %}"> MyProfile</a>
    <br>
    <br>
    <a href="{% url 'Student:Viewnotes' %}"> View Notes</a>
    <br>
    <br>
    <a href="{% url 'Student:Viewassignment' %}"> View Assignment</a>
    <br>
    <br>
    <a href="{% url 'Student:ViewTimeTable' %}"> View Time Table</a>
    <br>
    <br>
    <a href="{% url 'Student:viewattendance' %}"> View Attendance</a>
    <br>
    <br>
    <a href="{% url 'Student:leaveapplication' %}"> Leave Application</a>
    <br>
    <br>
    <a href="{% url 'Student:dutyleave' %}"> Duty Leave Application</a>
    <br>
    <br>
    <a href="{% url 'Student:Complaint' %}"> Complaints</a>
</body>
</html>