<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignclass</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <table border="1">
            <tr>
                <td>Department</td>
                <td><select name="sel_department" id="sel_department">
                    <option value="">---select---</option>
                    {% for i in departmentdata %}
                    <option value="{{i.id}}">{{i.department_name}}</option>
                    {% endfor %}
                </select></td>
            </tr>
            <tr>
                <td>Course</td>
                <td><select name="sel_course" id="sel_course">
                    <option value="">---select---</option>
                </select>
            </td>
            </tr>
            <tr>
                <td>Class</td>
                <td><select name="sel_class" id="sel_class">
                    <option value="">---select---</option>
                </select></td>
            </tr>
            <tr>
                <td>Academic Year</td>
                <td><select name="sel_academicyear" id="sel_academicyear">
                    <option value="">---select---</option>
                    {% for i in academicyeardata %}
                    <option value="{{i.id}}">{{i.academicyear_name}}</option>
                    {% endfor %}
                </select></td>
            </tr>
            <tr>
                
                <td colspan="2" align="center"><input type="submit" value="submit"></td>
            </tr>
        </table>
    </form>
    <br>
    <table border="1">
      <tr>
        <td>SlNo</td>
        <td>Department</td>
        <td>Course</td>
        <td>Class</td>
        <td>Academic Year</td>
        <td>Action</td>
      </tr>
        {% for i in assignclassdata %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ i.Class.course.department.department_name }}</td>
        <td>{{ i.Class.course.course_name }}</td>
        <td>{{ i.Class.class_name }}</td>
        <td>{{ i.academicyear.academicyear_name }}</td>
        <td><a href="">Delete</a></td>
      </tr>
        {% endfor %}
    </table>
</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script>
    $("#sel_department").change(function () {
      var disid = $(this).val();
      var ur = "{% url 'Admin:Ajaxcourse' %}";
      $.ajax({
        url: ur,
        data: { disid: disid },
        success: function (data) {
          $("#sel_course").html(data);
        },
      });
    });
  </script>

  <script>
    $("#sel_course").change(function () {
      var clsid = $(this).val();
      var ur = "{% url 'Admin:Ajaxclass' %}";
      $.ajax({
        url: ur,
        data: { clsid: clsid },
        success: function (data) {
          $("#sel_class").html(data);
        },
      });
    });
  </script>

  {% if msg %}
<script>
    alert("{{msg}}")
    window.location = "{% url 'Admin:Assignclass' %}"
</script>
{% endif %}