{% extends 'Admin/Header.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purpose</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <table border="1">
            <tr>
                <td>Purpose</td>
                <td><input type="text" name="txt_purpose" id="txt_purpose"></td>
            </tr>
            <tr>
                
                <td colspan="2" align="center"><input type="submit" value="Submit"></td>
            </tr>
        </table>
    </form>
    <br>
    <br>
    <table border="1">
        <tr>
            <td>SlNo</td>
            <td>Purpose</td>
            <td>Action</td>
        </tr>
        {% for p in purposedata %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ p.purpose_name }}</td>
            <td><a href="{% url 'Admin:delpurpose' p.id %}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
{% if msg %}
<script>
    alert("{{msg}}")
    window.location = "{% url 'Admin:Purpose' %}"
</script>
{% endif %}

{% endblock %}